@charset "utf-8";

html {
  font-size: 100%;
}

/*---------------------------------*/
body {
  font-family: 'Philosopher', serif, sans-serif;
  line-height: 1.3;
  color: rgb(253, 255, 255);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.logo {
  width: 50px;
  margin-top: 14px;
  margin-left: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 4%;
}

.main-nav li {
  padding-right: 50px;
}

.main-nav a {
  color: rgb(253, 255, 255);
}

.main-nav a:hover {
  color: #d1dfe2;
}

.page-header {
  display: flex;
  justify-content: space-between; /*화면 양쪽 끝에 로고와 리스트 배치*/
}

/* Home contents */
.home-content {
  text-align: center;
  margin-top: 10%;
}
.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px;
}

/* Title */
.page-title {
  font-size: 3.5rem;
  font-family: 'Philosopher', serif;
  font-weight: normal;
}

/* button */
.button {
  font-size: 1.1rem;
  background: white;
  color: rgb(112, 126, 184);
  border-radius: 30px;
  padding: 8px 15px;
}
.button:hover {
  background: #d1dfe2;
}
/* background image */

.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url('/images/berry.png');
  min-height: 100vh;
}

#home .page-title {
  text-transform: none;
}
